{% extends 'base.html' %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/duckburg.css' %}"> -->

{% block content%}
<h1>Welcome to Duckburg</h1>
<p>
  {% load static %} <img
      src={% static "static/images/duck_image.jpeg" %}
      title="What also floats on water"
      width="500px"
      height="400px"
    />
</p>

<p class="duckburg-txt">
  Seeder onion. Mooo cat daisys, grunt in turkey coo, windmill at bull. Haybine carrots soybeans, owls duck raising or, cheep in plows. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Feed in a woof, a farmers market. Oranges cucumbers rhubarb gourds watermelon. In eggplant, quonset is grain bins, grain truck.

Quonset pole shed, with fences gates zucchini carrots scrap metal. Mooo cat daisys, grunt in turkey coo, windmill at bull. Gate wind, moonshine horses meow irrigation , with feed troughs cheep, or cabbage with pumpkin trees chicken. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garden wheat oats at augers. Killer scourge scared, drowning helpless sheep at, farmers marke.

And cultivator ostrich. Coo with rabbits ect. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garden wheat oats at augers. Mouse soybeans sweet corn hogs llamas or oink oink wind. Mooo cat daisys, grunt in turkey coo, windmill at bull. Straw augers beef kettle our crickets. Garden windmill chicks, hen at corn in, lettus a peppers. Oranges cucumbers rhubarb gourds watermelon. Mouse soybeans sweet corn hogs llamas o.

</p>
{% endblock content%}